<table id="arpTable">
  <tr>
    <th>IP</th>
    <th>MAC@time</th>
  </tr>
  <% @arp_table.keys.sort_by { |ip| ip.split('.').collect { |part| part.to_i } }.each do |ip| %>
    <tr>
      <td><%= ip %></td>
      <td>
        <% @arp_table[ip].each do |entry| %>
          <% if @mac_notes[entry['mac']] %>
            <span class="mac" data-mac="mac<%= MD5::md5(entry['mac']) %>"
              title="<%= entry['mac'] %>">
              <%= @mac_notes[entry['mac']] %>
            </span>
          <% else %>
            <span class="mac macUnknown" data-mac="mac<%= MD5::md5(entry['mac']) %>"><%= entry['mac'] %></span>
          <% end %>
          <a title="Remove this entry" href="<%= url('/arp/delete/'+entry['id'].to_s) %>">&times;</a>
          <em>last seen at</em>
          <%= entry['seen_at'] %>
          <br />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

