<html>
  <head>
    <meta charset="utf-8" />
    <title>QSNet</title>
    <script type="text/javascript" src="<%= @@config['base']['url'] %>jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="<%= @@config['base']['url'] %>mac.js"></script>
    <script type="text/javascript" src="<%= @@config['base']['url'] %>log.js"></script>
    <link rel="stylesheet" href="<%= @@config['base']['url'] %>main.css" type="text/css" media="screen" />
  </head>
  <body>
    <h1>QSNet</h1>
    <% if session? %>
      <nav>
      <ul>
        <li><a href="<%= url('/') %>">Index</a></li>
        <li><a href="<%= url('/pings') %>">Pings</a></li>
        <li><a href="<%= url('/arp') %>">ARP History</a></li>
        <li><a href="<%= url('/traffic') %>">Traffic</a></li>
        <li><a href="<%= url('/status') %>">Status</a></li>
      </ul>
      <ul>
        <li><a href="<%= url('/logout') %>">Logout</a></li>
      </ul>
      <ul>
        <li><a href="/munin/">Munin &rarr;</a></li>
      </ul>
      </nav>
    <% end %>

    <article>
    <%= yield %>
    </article>
  </body>
</html>

