<h2>Traffic</h2>
<form action="./traffic" method="get">
  Display traffic only for last <input type="text" id="days" name="days" size="3" value="<%= @days %>" /> days.
  <input type="submit" value="Apply" />
</form>
<table id="trafficTable">
  <tr>
    <th><%= sortL('Host', @params) %></th>
    <th><%= sortL('Down', @params) %></th>
    <th><%= sortL('Up', @params) %></th>
    <th><%= sortL('PcktDown', @params, 'pckt_down') %></th>
    <th><%= sortL('PcktUp', @params, 'pckt_up') %></th>
    <th><%= sortL('Remotes', @params) %></th>
  </tr>
  <% @traffic.each_hash do |row| %>
    <tr>
      <td title="<%= row['host'] %>"><%= @names[row['host']] or row['host'] %></td>
      <td><%= formatBytes(row['down']) %></td>
      <td><%= formatBytes(row['up']) %></td>
      <td><%= formatPcktCnt(row['pckt_down']) %></td>
      <td><%= formatPcktCnt(row['pckt_up']) %></td>
      <td><%= row['remotes'].to_s %></td>
    </tr>
  <% end %>
    <tr class="total">
      <th>Total</td>
      <td><%= formatBytes(@sum['down']) %></td>
      <td><%= formatBytes(@sum['up']) %></td>
      <td><%= formatPcktCnt(@sum['pckt_down']) %></td>
      <td><%= formatPcktCnt(@sum['pckt_up']) %></td>
      <td>&mdash;</td>
    </tr>
</table>

<h3>Statistics</h3>
<table id="trafficStatsTable">
  <tr>
    <th>&nbsp;</th>
    <th>Value (Down / Up)</th>
  </tr>
  <tr>
    <th>Packet size:</th>
    <td>
      <%= formatBytes(@stats['pckt_size_down']) %>
      / <%= formatBytes(@stats['pckt_size_up']) %>
    </td>
  </tr>

  <tr>
    <th>Packets/host:</th>
    <td>
      <%= formatPcktCnt(@stats['pckt_cnt_down']) %>
      / <%= formatPcktCnt(@stats['pckt_cnt_up']) %>
    </td>
  </tr>

  <tr>
    <th>Packets/1G:</th>
    <td>
      <%= formatPcktCnt(@stats['pckt_cnt_1g_down']) %>
      / <%= formatPcktCnt(@stats['pckt_cnt_1g_up']) %>
    </td>
  </tr>

  <tr>
    <th>Remotes/host:</th>
    <td><%= @stats['remotes'] %></td>
  </tr>

  <tr>
    <th>Remotes/1GB:</th>
    <td>
      <%= @stats['remotes_1g_down'] %>
      / <%= @stats['remotes_1g_up'] %>
    </td>
  </tr>
</table>


